body{
    background:black;
    color:white;
    text-align:center;
    font-family:arial;

}

input{
    padding:10px;
    width:200px;

}

button{
    padding:10px;
    cursor:pointer;
}

h2{
    margin-top:20px;
}